.bookPages {
  max-width: 1000px;
  width: 100%;

  .backToBookStore {
    margin-bottom: 30px;

    a {
      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .cardBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;

    .cardTitle {
      margin-bottom: 20px;
    }

    .cardCaption {
      display: flex;
      gap: 20px;

      .bookImage {
        flex: 1;
        max-width: 350px;

        img {
          width: 100%;
          cursor: pointer;

          &:active {
            cursor: grab;
          }
        }
      }

      .bookCaption {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .caption,
        .genre,
        .year {
          font-size: 20px;
        }
      }

      .hr {
        width: 50%;
        margin: 10px 0 25px 0;
      }
    }
  }
}
