* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #646394, #1a2a31);
  color: rgba(255, 255, 255, 0.938);
  height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
