* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #646394, #1a2a31);
  color: rgba(255, 255, 255, 0.938);
  height: 100vh;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 8px;
}

/* Колір заднього фону скроллбара */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Колір плаваючої частини скроллбара (полоси прокрутки) */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Виділення скроллбара при наведенні */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Закруглені кути скроллбара */
body::-webkit-scrollbar-thumb:vertical {
  border-radius: 3px;
}

/* Стиль прокручування при натисканні на скроллбар */
body::-webkit-scrollbar-button {
  display: none; /* Приховати кнопки */
}

.pagesSort {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.genreCheckbox > label,
label > input {
  cursor: pointer;
}

.genreCheckbox > label > input {
  margin: 5px;
}

.bookGenre {
  /* border: 1px solid #000; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.bookGenre div {
  background-color: #17415373;
  border: 2px solid #395966;
  border-radius: 6px;
  padding: 6px;
}
