.about {
  max-width: 1280px;
  width: 100%;

  h1 {
    margin: 0px 0px 50px 0px;
  }

  .stackBlock {
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
    margin: 0 auto;

    .stackItem {
      p {
        &:hover {
          color: rgb(27, 95, 116);
        }
      }

      .stackImg {
        display: block;
        border-radius: 6px;
        width: 250px;
        height: 250px;
        transition: transform 0.4s ease;
        margin-top: 15px;

        &:hover {
          transform: scale(1.05);
        }

        img {
          display: block;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .about {
    .stackBlock {
      justify-content: center;
    }
  }
}
